* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Arial',  sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #555;
}

.logo h1 {
    margin: 0;
    font-size: 35px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: gray;
}
nav a:hover {
    color: #000;
    background-color: #ddd;
}

.main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px; 
    
    padding: 100px 50px 50px; 
}

.left{
 width: 100%;
 height: 1000px;
 margin-top: 20px;
}

.right {
    width: 100%;
    margin-top: 20px;
}
p{
    text-align: justify;
}

.title {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}



#p1{
    font-size: large;
}
/* qitu e kum lan */
.img1 img {
    width: 100%;
    max-width: 730px;
    height: auto;
    max-height: 300px;
}


.page2 {
    flex: 0 0 calc(55% - 10px); /* me bo qet div te gjon 55% edhe hapsira mes divave me kon 10%*/
    margin-bottom: 30px;
}

.page3 {
    flex: 0 0 calc(45% - 10px); /* me bo qet div te gjon 45% edhe hapsira mes divave me kon 10%*/
    margin-bottom: 30px;
}

.lajmi2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px ;
}

h2{
    text-align: center;
}

.img {
    background-color: #421c1c;
    height: 300px;
    margin-bottom: 20px;
}



.img img {
    width: 100%;
    height: 100%;
    
}

p {
    line-height: 1.5;
    color: #555;
}

a {
    color: black;
    text-decoration: none;
    background-color: #ddd;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 10px;
}

a:hover {
    background-color: #555;
    color: #fff;
    
}

.right {
    position: relative;
}



.newspart{
    animation: slide 8s infinite;
}

.right .img {
    animation: slide 8s infinite;
}


.box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 20px;
}

.title h2 {
    margin-top: 0;
    color: #333;
    
}

.newsPart {
    max-height: 300px;
    overflow-y: scroll;
    padding-right: 20px; 
}


.footer {
    background-color: #333;
    color: gray;
    padding: 20px;
    margin-top: 20px;
}


.left {
    display: flex;
}

.categories {
    margin-right: 20px;
}

.contactUs {
    margin-right: 20px;
}

.categories p {
    font-weight: bold;
}

.contactUs p {
    font-weight: bold;
}

.categories div {
    margin-top: 5px;
}

.contactUs div {
    margin-top: 5px;
}

.contactUs span {
    font-weight: normal;
}

.icon img {
    width: 20px;
    margin-right: 10px;
}

.right {
    flex-grow: 1;
}

.newsletter p {
    font-weight: bold;
}

.email {
    display: flex;
}

.email input {
    flex-grow: 1;
    padding: 5px;
}

.email button {
    background-color: #ddd;
    padding: 5px 10px;
    border: none;
    margin-left: 5px;
}

.email button:hover {
    background-color: #555;
    color: #fff;
}

.copyrights {
    margin-top: 20px;
    text-align: center;
}
 

