
@media screen and (max-width: 600px) {
  body {
    background-color: rgb(173, 27, 51);
    color: green;
    
  }
}



.box {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 70px;
  margin: 10px;
  border: 2px solid #6D6968;
  border-radius: 10px;
  padding: 10px  10px;
  background-color: #6D6968; 
  
}


#search-box {
  flex: 1;
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: large;
  background-color: #D4C2C0;
}


.box > div {
  margin: 30px;
  font-size: large;
}

#c, #a{
  
  background-color: #D4C2C0;
  border-radius: 10px;
  height: 40px;
  min-width: 200px;
  flex-wrap: wrap;
  font-family: "Helvetica", Arial, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
#c:hover
  {
    transform: scale(1.05);
}
#a:hover{
  transform: scale(1.05);
}



.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 90px;
  background-color: #6D6968;
  border: 2px solid #6D6968;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-bottom: 50px; 
  

}


.box1 > div {
  margin: 10px;
  background-color: #D4C2C0;
  font-size: large; 
  font-family: "Helvetica", Arial, sans-serif;
  border-radius: 10px;
  height: 40px; 
  width: 200px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.box1 div:hover {
  transform: scale(1.05); 
}

.box2{

  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;

}
#h3{
  margin-left: 50px;
  font-size: X-large;
  font-family: "Helvetica", Arial, sans-serif;
  color: #6D6968;
}
.box2 img {
  
   
  border-radius: 10px;
  max-width: 100%; 
  height: auto; 
  
}
footer{
  display: flex;
  font-family: "Helvetica", Arial, sans-serif;
  height: 250px;
  margin-top: 30px;
  border: 2px solid #6D6968;
  border-radius: 10px;
  padding: 5px  10px;
  background-color: #6D6968; 
  justify-content: space-between;
  margin-left: 10px; 
  margin-right: 10px;
  margin-top: 50px;

}


.pjesa1{
  margin-top: 25px;
  font-size: large;
  margin-right: 30px;
  margin-left: 30px;
  background-color: #D4C2C0;
  border-radius: 10px;
  height: 200px;
  width: 500px;
  flex-wrap: wrap;
  font-family: "Helvetica", Arial, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  

}
.pjesa2{
  font-size: large;
  margin-right: 30px;
  margin-left: 30px;
  background-color: #D4C2C0;
  border-radius: 10px;
  height: 200px;
  width: 500px;
  flex-wrap: wrap;
  font-family: "Helvetica", Arial, sans-serif;
  text-align: center;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
}

.foto1{
  background-color: #D4C2C0;
  border-radius: 10px;
  
 
}
.foto2{
  
  border-radius: 10px;
  background-color: #D4C2C0;
  
 
}
.foto3{
  
  border-radius: 10px;
  background-color: #D4C2C0;
  
 
}
.foto4{

  margin-top: 50px;
  border-radius: 10px;
  background-color: #D4C2C0;
  
}

#ubt {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  
}

h2{

  font-family: "Helvetica", Arial, sans-serif;
  text-align: center;
}

table {
  font-family: "Helvetica", Arial, sans-serif;
  border-collapse: collapse;
  margin-top: 20px;
  width: 600px;
}

legend {
  font-weight: bold;
  font-size: large;
  font-family: "Helvetica", Arial, sans-serif;
}

table tr:first-child {

  background-color: #999695;
  color: white; 
}

tr {
  background-color: #EAE6E5;
}

th, td {
  padding: 15px;
  text-align: center;
  border: 2px solid #ddd;
}







