
@media screen and (max-width: 200px) {
  body {
    background-color: rgb(173, 27, 51);
    color: green;
    
  }
}



.box {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 70px;
  margin: 10px;
  border: 2px solid #8FCB9B;
  border-radius: 10px;
  padding: 10px  10px;
  background-color: #8FCB9B; 
}


#search-box {
  flex: 1;
  padding: 5px;
  border: 2px solid lightblue;
  border-radius: 10px;
  font-size: large;
  
}


.box > div {
  margin: 30px;
  font-size: large;
}

#c, #a{
  border: 2px solid lightblue;
  background-color: white;
  border-radius: 10px;
  height: 30px;
  width: 120px;
  flex-wrap: wrap;
  font-family: "Helvetica", Arial, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
#c:hover
  {
    transform: scale(1.05);
}
#a:hover{
  transform: scale(1.05);
}



.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 90px;
  background-color: #8FCB9B;
  border: 2px solid #8FCB9B;
  border-radius: 10px;
  flex-wrap: wrap;
}


.box1 > div {
  margin: 10px; 
  font-size: large; 
  font-family: "Helvetica", Arial, sans-serif;
  background-color: white;
  border: 2px solid lightblue;
  border-radius: 10px;
  height: 40px; 
  min-width: 200px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.box1 div:hover {
  transform: scale(1.05); 
}

.box2{

  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;

}
#h3{
  margin-left: 50px;
  font-size: X-large;
  font-family: "Helvetica", Arial, sans-serif;
}
.box2 img {
  
   
  border-radius: 10px;
  max-width: 100%; 
  height: auto; 
  
}
footer{
  display: flex;
  font-family: "Helvetica", Arial, sans-serif;
  height: 150px;
  margin-top: 30px;
  border: 2px solid #8FCB9B;
  border-radius: 10px;
  padding: 5px  10px;
  background-color: #8FCB9B; 
  justify-content: space-between;

}


.pjesa1{
  font-size: large;
  margin-left: 30px;
}
.pjesa2{
  font-size: large;
  margin-right: 30px;
}

.foto1{
  background-color: #EAE6E5;
  border-radius: 10px;
  
 
}
.foto2{
  
  border-radius: 10px;
  background-color: #EAE6E5;

 
}
.foto3{
  
  border-radius: 10px;
  background-color: #EAE6E5;
 
 
}





